{{> header}}

<div id="message-output-list">

</div>
<div id="feedback-output">
    <div class="feedback-output">
        <p id="new-feedback"></p>
    </div>
</div>

<form id="send-container">
    <input id="message" type="text" autocomplete="off" placeholder="Type your message...">
    <button type="submit" id="send-button">Send!</button>
</form>